*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body{
  background-color: #eeeeee49;
}

/* ------------------- header -------------------*/
header{
  display: grid;
  background-color: #444;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1; */
  grid-template-areas: " logo logo . nav nav";
}

.logo{
  grid-area: logo;
  color: beige;
  padding-right: 30px;
  margin: 0 auto;
  font-size: 27px;
  font-weight: lighter;
  font-family:'Courier New', Courier, monospace;
  letter-spacing: .4rem;
  line-height: 90px;
}

/* ------------------- nav -------------------*/

nav{
  /* flex-grow: 1; */
  /* width: 50px; */
  grid-area: nav;
}

nav ul{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}

nav ul a{
  text-decoration: none;
  text-transform: none;
  list-style: none;
  line-height: 90px;
  width: 100%;
  padding: 0 5px;
  transition: all 300ms;
}

nav ul a:hover{
  background-color: #eeeeee49;
  transition: all 300ms;
}

nav ul li{
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
}

.active{
  background-color: #eeeeee49;
  font-weight: bold;
  transition: all 300ms;
}

/* ------------------- content -------------------*/

.content{
  width: 85%;
  min-height: 300px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}

/* ------------------- login -------------------*/

form{
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
}

input[type="text"]{
  display: flex;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #FAFAFA;
  border: none;
  border-bottom: 0.5px solid #ccc;
  outline: none;
  color: #454545;
}

.btn{
  background-color: #eee;
  padding: 10px 15px;
  margin: 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-decoration: none;
  text-transform: none;
  color: #4C3D3D;
  font-size: 15px;
  cursor: pointer;
  transition: all 300ms;
}

.btn:hover{
  background-color: #ccc;
}
